/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.main-form-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
	.frm-field {
		&.field-sep {
			margin-bottom: 20px;
		}
		&.field-sep-medium {
			margin-bottom: 12px;
		}
		&.field-center {
			text-align: center;
		}
	}
	.field-half {
		width: 50%;
	}
}
.section-content-box {
	display: block;
	position: relative;
	width: 100%;
	flex-shrink: 0;
	padding: 20px 0;
	&:first-child {
		.logo-box {
			padding-top: 20px;
		}
	}
}
.section-full {
	flex: 1;
}
.section-flex-center {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.section-title-box {
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	align-items: center;
	min-height: 32px;
	.button-back {
		position: absolute;
		top: 0;left: 0;
	}
}
.section-title {
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: var(--clr-title);
	text-align: center;
	width: 100%;
	text-align: center;
}
.logo-box {
	margin: 0 auto 40px auto;
	width: 160px;
	flex-shrink: 0;
	&.logo-small {
		width: 120px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.form-box {
	display: block;
	width: 100%;
	flex-shrink: 0;
}
.form-title-box { 
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
	margin-top: 40px;
	&.color-title {
		
		color: var(--clr-title);
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: var(--clr-title);
	}
	.elm-ico {
		margin: 0 auto 20px auto;
		width: 40px;height: 40px;
	}
}
.width-short {
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
}
.popup-form-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100%;
	flex: 1;
	.frm-title-wrap {
		margin-bottom: 20px;
		width: 100%;
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
		.elm-ico {
			width: 32px;height: 32px;
			margin-bottom: 24px;
		}
		.form-title {
			margin-top: 0;
			padding-right: 40px;
		}
		b {
			font-weight: 500;
		}
		a {
			color: var(--clr-title);
		}
	}
	.frm-action-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.frm-row {
		margin: 0 -4px;
	}
	.frm-field {
		padding: 0 4px;
		margin-bottom: 4px;
		
	}
	.field-flex {
		width: auto;
		flex: 1;
		&+.frm-field {
			width: auto;
			flex-shrink: 0;
		}
	}
	.btn {
		width: 100%;
		font-size: 14px;
	}
}
body.popup-open {
	overflow: hidden;
}
.popup-outer-box {
	display: none;
	padding: 20px 0 0 0;
	animation: fadein ease 0.2s;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	position: fixed;
	z-index: 100;
	background: #01061266;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&.active {
		display: flex;
	}
}
.popup-box {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-height: 100%;
	background-color: #fff;
	z-index: 20;
	border-radius: 16px 16px 0 0;
	padding: 24px 15px 11px 15px;
	.popup-title-wrap, .popup-footer-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.popup-content-wrap {
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		max-height: 100%;
	}
	.btn-popup-close {
		z-index: 10;
		position: absolute;
		top: 3px;right: 3px;
	}
}