/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
[placeholder]::-webkit-input-placeholder {color: var(--clr-light);}
[placeholder]:-moz-placeholder {color: var(--clr-light);}
[placeholder]::-moz-placeholder {color: var(--clr-light);}
[placeholder]:-ms-input-placeholder {color: var(--clr-light);}
.form-input[placeholder] {
    text-overflow: ellipsis;
}
.form-input {
    text-overflow: ellipsis;
	height: 50px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 10px;
	padding: 0 10px 0 15px;
	font-size: 14px;
	color: var(--clr-title);
	transition: all ease 0.2s;
	&:focus {
		border-color: var(--clr-att-light);
	}
	//&:required:invalid,
	&.inp-error {
		border-color: var(--clr-alert);
		background-color: #FFEBED;
		&+.ms-error {
			display: block;
		}
		&:not(:focus) {
		}
	}
}
textarea.form-input {
	height: 230px;
}
select.form-input {
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 30px;
    background-image: url(../img/icons/arrow-select.svg);
    background-position: right 20px center;
    background-color: #fff;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none!important;
    line-height: 14px;
    text-indent: 0.01px;
    //text-overflow: '';
    outline: none;
	cursor: pointer;
    &.form-input-clear {
        height: auto;
        border: none;
        min-height: 0;
        border-radius: 0;
        box-shadow: none;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: inherit;
        padding: 0 16px 0 0;
        color: inherit;
        font-weight: bold;
        background-image: url(../img/icons/arrow-select.png);
        background-size: 8px auto;
        background-repeat: no-repeat;
        background-position: right center;
    }
}
select::-ms-expand {
    display: none;
}
//   <select class="form-input form-input-line" required>
//       <option value="" disabled selected hidden>Выбрать</option>
//       <option>Пункт списка</option>
//   </select>
select.form-input:required:invalid {
    color: #ADADAD;
}
.btn {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	padding: 0 14px;
	border: 1px solid var(--clr-att);
	background-color: var(--clr-att);
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	&.button-gray {
		&:not(:hover) {
			background: #EFF1F4;
			border-color: #EFF1F4;
			color: var(--clr-att);
			.button-ico {
				filter: none;
			}
		}
		&:hover {
			.button-ico {
				filter: brightness(0) invert(1);
			}
		}
	}
	&.button-cash-out {
		display: inline-block;
		height: auto;
		font-size: 12px;
		line-height: 16px;
		color: var(--clr-title);
		text-align: center;
		border: none;
		border-radius: 0;
		background: none;
		font-weight: 400;
		.button-ico {
			display: block;
			width: 40px;height: 40px;
			margin: 0 auto 4px auto !important;
			border-radius: 50%;
			background: #fff;
			img, svg {
				max-width: 28px;
				max-height: 28px;
			}
		}
		.button-title {
			display: block;
			width: 100%;
		}
	}
	&[disabled], &.button-disabled {
		background-color: var(--clr-att-light);
		border-color: var(--clr-att-light);
		pointer-events: none;
	}
	&.button-medium {
		height: 40px;
		font-size: 12px;
		font-weight: 400;
		border-radius: 8px;
	}
	&.button-second {
		background-color: var(--clr-att-second);
		border-color: var(--clr-att-second);
	}
	&.button-text-att {
		background: none;
		border-radius: 0;
		border: none;
		color: var(--clr-att);
	}
	&.button-text-alert {
		background: none;
		border-radius: 0;
		border: none;
		color: var(--clr-alert);
	}
	&.button-clear {
		width: auto;
		height: auto;
		line-height: 24px;
		color: inherit;
		white-space: normal;
		align-items: center;
		padding: 0;
		min-width: 0;
		background: none;
		border: none;
		border-radius: 0;
		font-weight: inherit;

		.button-ico {
			width: 24px;height: 24px;
			filter: none
		}
	}
	&.button-text {
		color: var(--clr-light);
		border-radius: 0;
		background: none;
		border: none;
	}
	&.button-select {
		background: #fff;
		border-color: #fff;
		padding: 0 40px 0 12px;
		text-align: left;
		justify-content: flex-start;
		height: 40px;
		font-size: 12px;
		color: var(--clr-title);
		font-weight: 400;
		line-height: 16px;
		border-radius: 10px;
		&:not(.selected) {
			color: #90939A;
		}
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-select.svg) center no-repeat;
			background-size: 100% auto;
			top: 50%;right: 22px;
			margin: -12px -12px 0 0;
		}
	}
    .button-ico {
        width: 24px;
        height: 24px;
        margin: 0 10px;
        transition: all ease 0.2s;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
.btn-action-ico {
    min-width: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all ease 0.2s;
    flex-shrink: 0;
    &:not(.btn) {
        background: none;
        border: none;
        box-shadow: none;
    }
    &.btn {
        min-width: 0;
        min-height: 0;
        padding: 0;
        display: block;
    }
    &:before, &:after, [class*="icon-"], img, svg {
        display: block;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        transition: all ease 0.2s;
    }
    img, svg {
        max-width: 24px;
        max-height: 24px;
    }
    &:before, &:after {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }
    &:hover {
        text-decoration: none;
    }
	&.ico-clear {
		&:before {
			background-image: url(../img/icons/clear.svg);
		}
	}
	&.ico-edit {
		&:before {
			background-image: url(../img/icons/edit.svg);
		}
	}
    &.ico-arrow {
        z-index: 20;
        cursor: pointer;
		width: 32px;height: 32px;
		border-radius: 8px;
		background: #fff;
		&:hover {
			background: #fff;
		}
        &:before {
            background-image: url(../img/icons/arrow-back.svg);
        }
		&.swiper-button-disabled {
			opacity: 0.5;
		}
    }
    &.ico-arrow-next {
        &:before {
            .t-rotate(180deg);
        }
    }
    &.ico-menu {
        &:after, &:before {
            width: 24px;
            height: 18px;
            border-top: 2px solid var(--clr-base);
            border-bottom: 2px solid var(--clr-base);
            margin: -9px 0 0 -12px;
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
        }
        &:before {
            height: 2px;
            margin-top: -1px;
            border-top: none;
        }
        &.active {
            &:after {
                height: 2px;
                margin-top: -1px;
                border-top: none;
                .t-rotate(-45deg);
            }
            &:before {
                .t-rotate(45deg);
            }
        }
    }
    &.ico-close {
        &:before {
			background-image: url(../img/icons/close.svg);
			background-size: 32px auto;
		}
    }
    &.button-soc {
        img, svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
[data-count] {
	overflow: visible;
	&:after {
		content: attr(data-count);
		position: absolute;
		bottom: 50%;left: 50%;
		top: auto;
		right: auto;
		z-index: 2;
		height: 18px;
		padding: 0 4px;
		min-width: 18px;
		border-radius: 9px;
		background: var(--clr-alert);
		color: #fff;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
	}
}
.btn-field-select {
	display: flex;
	align-items: center;
	min-height: 40px;
	font-size: 14px;
	line-height: 18px;
	padding: 12px 34px 12px 12px;;
	border-radius: 10px;
	background: #fff;
	color: var(--clr-title);
	&.button-text {
		padding-right: 12px;
		.button-title {
			flex: 1;
			overflow: hidden;
		}
		&:before {
			display: none;
		}
	}
	&.button-user {
		padding-top: 8px;
		padding-bottom: 8px;
		.button-title {
			display: block;
			margin-bottom: 6px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.button-title-wrap {
			flex: 1;
			padding-left: 12px;
			white-space: normal;
			font-size: 15px;
			line-height: 20px;
			font-weight: 500;
			color: var(--clr-title);
		}
	}
	&.button-lk {
		padding-top: 10px;
		padding-bottom: 9px;
		.button-ico {
			width: 24px;height: 24px;
			margin-right: 12px;
		}
	}
	.button-action {
		flex-shrink: 0;
		padding-left: 10px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
	}
	.elm-photo {
		flex-shrink: 0;
		width: 80px;height: 80px;
		border-radius: 50%;
		background: #000;
		border: 1px solid #D9DADB;
	}
	.elm-sticker {
		height: 20px;
		padding: 0 5px;
		border-radius: 4px;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
	}
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/arrow-main.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;
		right: 8px;
		margin-top: -12px;
		filter: grayscale(100%) opacity(0.5);
	}
}
.btn-field-transaction-status {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 16px;
	color: var(--clr-light);
	padding: 12px 0 12px 44px;
	min-height: 62px;
	&.button-load {
		.button-total-wrap {
			color: var(--clr-light);
		}
		&:before {
			background-image: url(../img/icons/status-load.svg);
		}
	}
	&.button-out {
		.button-total-wrap {
			color: var(--clr-title);
		}
		&:before {
			background-image: url(../img/icons/status-out.svg);
		}
	}
	&.button-error {
		.button-total-wrap {
			color: var(--clr-alert);
		}
		&:before {
			background-image: url(../img/icons/status-error.svg);
		}
	}
	
	&:before {
		content: "";
		display: block;
		width: 32px;
		height: 32px;
		position: absolute;
		background: url(../img/icons/status-succefull.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 0;
		margin-top: -20px;
	}
	.button-title {
		display: block;
		margin-bottom: 4px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: var(--clr-title);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.button-title-wrap {
		flex: 1;
	}
	.button-total-wrap {
		font-size: 14px;
		line-height: 18px;
		color: var(--clr-att-second);
		padding-left: 15px;
	}
}
.btn-filter-clear {
	display: block;
	width: 28px;height: 28px;
	flex-shrink: 0;
	border: none;
	border-radius: 50%;
	&:before {
		background-color: #D9DADB;
	}
}
.btn-filter-selected {
	display: inline-block;
	flex-shrink: 0;
	height: 28px;
	line-height: 28px;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 14px;
	background: #31353F;
	padding: 0 28px 0 8px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/clear.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;right: 4px;
		margin-top: -12px;
		filter: brightness(0) invert(1);
	}
}