<!--bottom-panel-box-->
<div class="bottom-panel-box cnt-section">
	<div class="inner-wrap">
		<ul class="menu">
			<li>
				<a href="" class="btn-menu" data-count="3">
					<div class="button-ico">
						<img src="./img/icons/menu01.svg" alt="">
					</div>
					<div class="button-title">Мои заявки</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu02.svg" alt="">
					</div>
					<div class="button-title">Вакансии</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu active">
					<div class="button-ico">
						<img src="./img/icons/menu03.svg" alt="">
					</div>
					<div class="button-title">Кошелек</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu04.svg" alt="">
					</div>
					<div class="button-title">Кабинет</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--/bottom-panel-box-->