<!--filter-panel-box-->
<div class="filter-panel-box">
	<div class="filter-inner-wrap">
		<!--filter-title-wrap-->
		<div class="filter-title-wrap">
			<div class="filter-action">
				<a href="" class="btn button-clear js-filter-close">Отмена</a>
			</div>
			<div class="filter-title">Фильтры</div>
			<div class="filter-action">
				<button type="reset" class="btn button-clear">Сбросить</button>
			</div>
		</div>
		<!--/filter-title-wrap-->
		<!--filter-content-wrap-->
		<div class="filter-content-wrap">
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Специальность</div>
				<div class="filter-section-content">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-filter-select-wrap js-popup-wrap no-close">
								<a href="" class="btn button-select js-btn-popup-toggle">Любая</a>
								<div class="select-content-block js-popup-block">
									<div class="section-title-wrap">
										<a href="" class="btn-action-ico ico-arrow ico-arrow-prev button-back js-btn-popup-close"></a>
										<div class="section-title">Специальность</div>
									</div>
									<div class="section-content-wrap">
										<div class="section-search-wrap">
											<form action="/" class="frm-main-search">
												<div class="field-search">
													<input type="text" class="form-input" placeholder="Поиск">
												</div>
											</form>
										</div>
										<div class="section-selected-wrap active">
											<a href="" class="btn-filter-clear btn-action-ico ico-clear"></a>
											<a href="" class="btn-filter-selected" onclick="return false;">Разнорабочий</a>
											<a href="" class="btn-filter-selected" onclick="return false;">Сортировщик</a>
										</div>
										<div class="section-list-wrap">
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-01">
												<label for="sel01-01">Арматурщик</label>
											</div>
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-02">
												<label for="sel01-02">Бетонщик</label>
											</div>
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-03">
												<label for="sel01-03">Монтажник</label>
											</div>
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-04" checked>
												<label for="sel01-04">Разнорабочий</label>
											</div>
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-05">
												<label for="sel01-05">Сварщик</label>
											</div>
											<div class="frm-select type-second">
												<input type="checkbox" id="sel01-06" checked>
												<label for="sel01-06">Сортировщик</label>
											</div>
										</div>
									</div>
									<div class="section-button-wrap">
										<a href="" class="btn js-btn-popup-close">Применить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Статус заявки</div>
				<div class="filter-section-content">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-select-button">
								<input type="checkbox" id="button01">
								<label for="button01">В резерве</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button02" checked>
								<label for="button02">В обработке</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button03" checked>
								<label for="button03">На оформлении</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button04">
								<label for="button04">Трудоустроен</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button05">
								<label for="button05">Отработал 5 дней</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button06">
								<label for="button06">Выплачено</label>
							</div>
							<div class="frm-select-button">
								<input type="checkbox" id="button07" checked>
								<label for="button07">Отказано</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Выплата за человека, ₽</div>
				<div class="filter-section-content">
					<div class="frm-row">
						<div class="frm-field field-half">
							<div class="frm-field-range" data-title="от">
								<input type="text" class="form-input" placeholder="5000">
							</div>
						</div>
						<div class="frm-field field-half">
							<div class="frm-field-range" data-title="до">
								<input type="text" class="form-input" placeholder="17000">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
		</div>
		<!--/filter-content-wrap-->
		<!--filter-submit-wrap-->
		<div class="filter-submit-wrap">
			<a href="" class="btn js-filter-apply">Показать заявки</a>
		</div>
		<!--/filter-submit-wrap-->
	</div>
</div>
<!--/filter-panel-box-->