<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-verify-step01">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--popup-form-box-->
			<div class="popup-form-box">
				<div class="frm-title-wrap">
					<div class="elm-ico">
						<img src="./img/icons/popup.svg" alt="">
					</div>
					<div class="form-title h3-title">Добро пожаловать в МT-Agent! Пройдите верификацию для получения полного доступа</div>
					<p>Для полного доступа к выводу заработанных средств, методическим материалам по поиску вакансий и бесплатному обучающему курсу необходимо пройти верификацию и подписать договор. После этого вы получите полный доступ ко всем возможностям сервиса.</p>
				</div>
				<div class="frm-action-wrap">
					<div class="frm-row">
						<div class="frm-field field-full">
							<a href="" class="btn button-medium">Пройти верификацию</a>
						</div>
						<div class="frm-field field-full">
							<a href="" class="btn button-medium button-text-att">Продолжить без верификации</a>
						</div>
					</div>
				</div>
			</div>
			<!--/popup-form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-verify-step02">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--popup-form-box-->
			<div class="popup-form-box">
				<div class="frm-title-wrap">
					<div class="elm-ico">
						<img src="./img/icons/popup.svg" alt="">
					</div>
					<div class="form-title h3-title">Ваш запрос принят – ожидайте звонка от нашего специалиста</div>
					<p>В&nbsp;ближайшее время наш&nbsp;сотрудник свяжется с&nbsp;вами по&nbsp;телефону, указанному в&nbsp;личном кабинете, для&nbsp;уточнения данных и&nbsp;оформления договора. После&nbsp;успешного завершения верификации вы&nbsp;получите полный доступ ко&nbsp;всем возможностям сервиса.</p>
				</div>
				<div class="frm-action-wrap">
					<div class="frm-row">
						<div class="frm-field field-full">
							<a href="" class="btn button-medium">Хорошо, жду звонка</a>
						</div>
					</div>
				</div>
			</div>
			<!--/popup-form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-verify-step03">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--popup-form-box-->
			<div class="popup-form-box">
				<div class="frm-title-wrap">
					<div class="elm-ico">
						<img src="./img/icons/popup-succefull.svg" alt="">
					</div>
					<div class="form-title h3-title">Верификация успешно завершена!</div>
					<p>Поздравляем! Теперь вам&nbsp;доступны все&nbsp;функции сервиса. Подписанный договор и&nbsp;документы отправлены на&nbsp;вашу почту.</p>
				</div>
				<div class="frm-action-wrap">
					<div class="frm-row">
						<div class="frm-field field-full">
							<a href="" class="btn button-medium">Отлично, а что еще?</a>
						</div>
					</div>
				</div>
			</div>
			<!--/popup-form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-verify-step04">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--popup-form-box-->
			<div class="popup-form-box">
				<div class="frm-title-wrap">
					<div class="form-title h3-title">Методические материалы для&nbsp;легкого старта</div>
					<p>Перед&nbsp;началом работы скачайте методические материалы. Они&nbsp;помогут без проблем находить персонал и&nbsp;зарабатывать. Сохраните их, чтобы&nbsp;всегда иметь под&nbsp;рукой.</p>
				</div>
				<div class="frm-action-wrap">
					<div class="frm-row">
						<div class="frm-field field-flex">
							<a href="" class="btn button-medium button-second">Скачать материалы</a>
						</div>
						<div class="frm-field">
							<a href="" class="btn button-medium" disabled>Далее</a>
						</div>
					</div>
				</div>
			</div>
			<!--/popup-form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-verify-step05">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--popup-form-box-->
			<div class="popup-form-box">
				<div class="frm-title-wrap">
					<div class="form-title h3-title">Бесплатный курс для&nbsp;новичков в&nbsp;профессии</div>
					<p>Отличные новости! Мы&nbsp;создали бесплатный курс по&nbsp;массовому подбору персонала, который поможет вам&nbsp;быстро разобраться в&nbsp;профессии. Он всегда доступен для вас во вкладке&nbsp;<a href=""><b>«Кабинет»</b></a>.</p>
				</div>
				<div class="frm-action-wrap">
					<div class="frm-row">
						<div class="frm-field field-flex">
							<a href="" class="btn button-medium button-second">Пройти курс</a>
						</div>
						<div class="frm-field">
							<a href="" class="btn button-medium button-text-att">К вакансиям</a>
						</div>
					</div>
				</div>
			</div>
			<!--/popup-form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
